{% extends "html/template.html" %}
{% block content %}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="../assets/img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h2>Contact Us</h2>
                        <div class="bt-option">
                            <a href="./index.html">Home</a>
                            <a href="#">Pages</a>
                            <span>Contact us</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Contact Section Begin -->
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title contact-title">
                        <span>Contact Us</span>
                        <h2>GET IN TOUCH</h2>
                    </div>
                    <div class="contact-widget">
                        <div class="cw-text">
                            <i class="fa fa-map-marker"></i>
                            <p>Sukhshanti Society, Plot no A-7,
                                Sector 20, near Welcom Restaurant ,<br/>Nerul West,
                                Navi, Mumbai- 400706</p>
                        </div>
                        <div class="cw-text">
                            <i class="fa fa-mobile"></i>
                            <ul>
                                <li>+91 9594575707
                                </li>
                            </ul>
                        </div>
                        <div class="cw-text email">
                            <i class="fa fa-envelope"></i>
                            <p>akhadafitness@gmail.com

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-5">
                    <div class="leave-comment">
                        <form action="{% url 'contact' %}" method="POST">
                            {% csrf_token %}
                            <input type="text" placeholder="Name" name="name">
                            <input type="email" placeholder="Email" name="email">
                            <input type="number" placeholder="Phone Number" name="number">
                            <textarea placeholder="Message" name="Number"></textarea>
                            <button type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="map">
               

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.690797357755!2d73.01335877507526!3d19.033341982162447!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c33aa6c71cd7%3A0x75b2228a5622ff34!2sAkhada%20Unisex%20Fitness%20Zone!5e0!3m2!1sen!2sin!4v1684789220127!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->
    {% endblock content %}
